<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>10339294539-qgeeofgscdv3ur5ol3jo1r9bp6lfn2t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10339294539-qgeeofgscdv3ur5ol3jo1r9bp6lfn2t9</string>
	<key>API_KEY</key>
	<string>AIzaSyBiMGhNFz57vZkYhgaK1_7z71g5aVf5Nqs</string>
	<key>GCM_SENDER_ID</key>
	<string>10339294539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cerveja.me.app</string>
	<key>PROJECT_ID</key>
	<string>cerveja-me</string>
	<key>STORAGE_BUCKET</key>
	<string>cerveja-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:10339294539:ios:bcac1cdc32190e64</string>
	<key>DATABASE_URL</key>
	<string>https://cerveja-me.firebaseio.com</string>

<key>CFBundleURLTypes</key>
<array>
  <dict>
  <key>CFBundleURLSchemes</key>
  <array>
    <string>fb289767478086559</string>
  </array>
  </dict>
</array>
<key>FacebookAppID</key>
<string>289767478086559</string>
<key>FacebookDisplayName</key>
<string>Cerveja.me</string>
</dict>
</plist>

