<ion-header>
  <h1 class="logo-dark"></h1>
</ion-header>

<ion-content no-bounce padding class="background-light">
  <div class="msg success">
    <span class="msg__text">Como nos saímos?</span>
    <span class="msg__text--small">Avalie sua experiência:</span>

    <button class="feedback__star" [ngClass]="rate>=1?'active':''" (click)="rate=1"></button>
    <button class="feedback__star" [ngClass]="rate>=2?'active':''" (click)="rate=2"></button>
    <button class="feedback__star" [ngClass]="rate>=3?'active':''" (click)="rate=3"></button>
    <button class="feedback__star" [ngClass]="rate>=4?'active':''" (click)="rate=4"></button>
    <button class="feedback__star" [ngClass]="rate>=5?'active':''" (click)="rate=5"></button>

    <div class="comment__box">
      <input name="login" class="comment__box__input" placeholder="Deixe seu comentário" type="text" required="true" *ngIf="rate"
        [(ngModel)]="comment" />
    </div>

    <button ion-button secondary class="btn-finish" *ngIf="rate" (click)="sendFeedback()">Enviar avaliação</button>
  </div>
</ion-content>
