page-home {

  .btn-primary {
    border-color: white;
  }

  ion-scroll[scrollX] {
  white-space: nowrap;
  .scroll-item {
    display: inline-block;
  }

}

h1 {
    @extend .font-bold;

    color: $color-secondary;
    font-size: 26px;
    margin: 20px 0;
}

h2 {
    @extend .font-bold;

    color: $color-secondary;
    font-size: 20px;
    margin: 20px 0 5px;
}

.map {

        &__btn {
            @include border-radius(0);
            @extend .font-bold;

            background: $color-primary;
            border-top: 2px solid $color-secondary;
            font-size: 24px;
            padding: 20px;
            height: auto;
            width: 100%;
            margin: 0;
            text-transform: uppercase;

            &.disabled {
              opacity: 0.5;
            }
        }

        &__navigation {
            background: #ccc;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &__address {

            padding: 0 10px;
            width: 100%;
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 3;

            &__icon {
                position: absolute;
                left: 25px;
                top: 15px;
            }

            &__plus {
                position: absolute;
                left: 30px;
                BOTTOM: 21px;
            }

            &__number {
                @extend .font-bold;

                border-radius: 0;
                color: $color-secondary;
                position: absolute;
                right: 12px;
                top: 11px;
                height: 25px;
                background: white;
                padding: 15px;
                width: 100px;
                border-color: $color-secondary;
                box-shadow: -22px 0 20px 0 white;
                border-width: 0 0 0 1px;
                text-align: center;
            }

            &__input {
                @extend .font-regular;

                display: block;
                background: white;
                color: $color-secondary;
                border: 2px solid $color-secondary;
                width: 100%;
                padding: 15px 15px 15px 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .text-input {
                    margin: 0;
                }

                &:first-child {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &:last-child {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-top: none;
                    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
                }
            }

            &__autocomplete {
                @include border-radius(10px);

                background: white;
                position: absolute;
                top: 150px;
                width: 100%;
                left: 0;
                z-index: 5;
                margin: 0;
                padding: 0;
                list-style: none;


                &__item {
                    @extend .font-regular;

                    color: $color-secondary;
                    font-size: 14px;
                    padding: 15px 15px 15px 50px;
                    border: solid $color-secondary;
                    border-width: 0 2px 1px;
                    margin: 0;
                    background: #D5A86C;
                    position: relative;

                    &:last-child {
                        border-width: 0 2px 2px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);
                    }
                }
            }
        }
    }

.address__autocomplete {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
                top: 150px;

    padding: 0 10px;
    list-style: none;
    z-index: 999;
    position: absolute;
    left: 0;
    margin: 0 0 0;
    width: 100%;

    &__item {
        @extend .font-regular;

        color: $color-secondary;
        font-size: 14px;
        padding: 15px 15px 15px 45px;
        border-bottom: 1px solid $color-secondary;
        margin: 0;
        text-align: left;
        position: relative;

        &:last-of-type {
            border-bottom: none;
        }
    }
}
    @keyframes pop-discount {
      0% { transform: scale(0) }
      20% { transform: scale(1.4)}
      50% { transform: scale(1) }
      70% { transform: scale(1.1) }
      100% { transform: scale(1) }
    }

    @keyframes loading {
        0% { transform: rotate(0deg)}
        100% { transform: rotate(359deg)}
    }

    @keyframes dissolve-in {
        0% { opacity: 1}
        30% { opacity: 1}
        35% { opacity: 0}
        65% { opacity: 0}
        70% { opacity: 1}
        100% { opacity: 1}
    }

    @keyframes dissolve-out {
        0% { opacity: 0}
        30% { opacity: 0}
        35% { opacity: 1}
        65% { opacity: 1}
        70% { opacity: 0}
        100% { opacity: 0}
    }

    ion-backdrop {
        background: $color-secondary;
        opacity: 0.8 !important;
    }

    .bkg-choose {
        
        &.closed {

        }
    }

    .table {
        background-image: url(../assets/imgs/table.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 160%;
        bottom: -40px;

        &.table-bottom {
          bottom: 0;
        }
    }

    .product {
        position: relative;
      
        .btn-minus {
            position: absolute;
            bottom: 23px;
            right: 165px;
            left: initial;
        }

        &__info {
            @include border-radius(20px);

            position: absolute;
            right: 20px;
            top: 20px;
            background-color: rgba($color-secondary, 0.8);
            border: 2px solid $color-background;
            padding: 16px;
            box-shadow: 3px 3px 0 0 $color-background;
        }

        &.free-shipping {
            .product__info {
                border-bottom-left-radius: 3px;
            }
        }

        &.with-discount {
            .product__info {
                border-bottom-left-radius: 3px;
                background-color: $color-primary;
                color: $color-background;
            }
        }

        .free-shipping {
            &__text {
                @extend .font-bold;
                @include border-radius(50px);

                border-top-left-radius: 3px;
                display: block;
                background: $color-primary;
                border: 2px solid $color-background;
                color: $color-background;
                padding: 2px 7px;
                font-size: 14px;
                position: absolute;
                top: 108%;
                left: 0;
                box-shadow: 3px 3px 0 0 #FFFFDD;
            }

        }

        .with-discount {
            &__text {
                @extend .font-bold;
                @include border-radius(50px);

                border-top-left-radius: 3px;
                display: block;
                background: $color-background;
                color: $color-primary;
                padding: 4px 7px;
                font-size: 15px;
                line-height: 1.1;
                width: 60px;
                position: absolute;
                top: 108%;
                left: 0;
            }
        }

        &__amount {
            @extend .font-bold;

            color: $color-background;
            text-align: center;
            display: block;
            font-size: 13px;
        }

        &__price {
            @extend .font-bold;

            color: $color-background;
            font-size: 16px;
            vertical-align: middle;
            display: inline-block;
            margin-top: 5px;
            margin-bottom: -4px;
            letter-spacing: -0.02em;

            strong {
                @extend .font-bold;

                text-align: center;
                font-size: 35px;
                vertical-align: top;
                margin-right: -2px;
                margin-top: -6px;
                display: inline-block;
            }

            small {
                font-size: 16px;
                vertical-align: middle;
                margin-top: -2px;
                display: inline-block;
            }
        }

        &__price-each {
            @extend .font-regular;

            display: block;
            color: $color-background;
            text-align: center;
            display: block;
            font-size: 12px;
            margin-top: 5px;
            padding-top: 10px;
            border-top: 1px solid $color-background;
        }

        &__labels {
            position: absolute;
            z-index: 4;
            opacity: 0;
            transition: all 0.3s;
            top: -9px;
            left: -14px;
        }

        &__cold {
            @extend .font-regular;
            @include border-radius(50px);

            color: white;
            font-size: 12px;
            background: $color-blue;
            padding: 4px 6px 5px;
            border: 1px solid $color-background;
           // box-shadow: 0 5px 15px 0px rgba($color-secondary, 0.5);
        }

        // &__size {
        //     @extend .font-regular !optional;
        //     @include border-radius(0 10px 10px 10px);

        //     background: $color-secondary;
        //     color: white;
        //     text-align: center;
        //     display: block;
        //     padding: 6px 11px;
        //     font-size: 11px;
        //     display: inline-block;
        // }

        &__natura {
            @extend .font-regular;
            @include border-radius(10px 10px 10px 0px);

            background: $color-background;
            color: #573317;
            text-align: center;
            display: block;
            padding: 4px 11px;
            font-size: 11px;
            text-transform: uppercase;
        }

        &__picture {
            height: 95%;
            width: 200%;
            z-index: 2;
            left: -50%;
            bottom: 15%;
            margin: 0 0 -10% -22.5%;
            display: block;
            position: absolute;
            z-index: 2;
            transform: scale(0.8);
            transition: bottom 0.3s, transform 0.3s;

            img-loader {
                background-position: center;
            }
        }

        &__bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
}

.choose-slider {
    height: 75%;
    max-height: 450px;
    margin: 20px 0 50px;

    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        @include border-radius(30px);

        border: 2px solid $color-secondary;
        background-image: url(../assets/imgs/bkg-choose.jpg);
        background-size: cover;
        background-position: center;
        transform: scale(0.9);
        transition: transform 0.2s;
        overflow: hidden;

        &-active {
            margin-left: auto;
            z-index: 3;
            transform: scale(1);
            box-shadow: 0px 5px 20px 0 rgba($color-secondary, 0.5);
        
            .product__labels {
                opacity: 1;
            }
        }
    }

    &.slider-empty {
      bottom: 0;
    }

    &.on-slide {
        .swiper-slide.swiper-slide-active {
            margin-left: 6.5%;
        }
    }

    .swiper-pagination {
      bottom: -30px;

      .swiper-pagination-bullet {
        width: 3px;
        height: 3px;
        opacity: 1;
        background: $color-secondary;
        vertical-align: middle;

        &-active {
          width: 6px;
          height: 6px;
          background: $color-primary;
          //border: 2px solid $color-secondary;
        }
      }
    }
}

.btn-choose {
    @include border-radius(50px);
    @extend .font-bold !optional;

    position: absolute;
    bottom: 0;
    background: $color-primary;
    border: 2px solid white;
    font-size: 24px;
    padding: 10px 30px;
    height: auto;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    opacity: 0;
    transition: all .5s;
    box-shadow: none;

    &.activated {
        background: #573317;
    }
}

.icon-plus {
    background-image: url('../assets/icon/icon-plus-b.svg');
    background-size: cover;
    width: 14px;
    height: 14px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
}

.icon-cold {
    background-image: url(../assets/icon/cold.svg);
    background-size: cover;
    width: 13px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.icon-termo {
    background-image: url(../assets/icon/icon-termo.svg);
    background-size: cover;
    width: 11px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    margin-bottom: 1px;
}



.msg-empty {
    @extend .font-regular !optional;

    top: 3%;
    color: white;
    position: absolute;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 0 30px;
    z-index:4;
    background: $color-secondary;
    margin: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: -10px;
    padding: 20px;
//
//    &.location-error {
//        background: $color-secondary-light;
//    }
//
//    &.location-error &__title {
//        color: white;
//    }

    &__title {
        @extend .font-bold !optional;

        font-size: 25px;
        color: $color-secondary-light;
        margin: 0 0 10px 0;
        display: block;
    }

    strong {
        @extend .font-bold !optional;

        display: inline-block;
        padding: 5px 0;
        a{
            color:white;
            text-decoration:underline;
        }
    }
}

.btn-login {
  background: url(../assets/icon/icon-user.svg) no-repeat;
  width: 33px;
  height: 33px;
  border: none;
  box-shadow: none;
  position: absolute;
  bottom: 15px;
  left: 20px;
  box-shadow: none;
}

.btn-user {
  @include border-radius(100%);

  border: 2px solid $color-secondary;
  width: 33px;
  height: 33px;
  border: none;
  box-shadow: none;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background: none;
}

.header {

  &.header-ios .btn-schedule {
    bottom: 10px;
  }

  &.header-md .btn-schedule {
    bottom: 12px;
  }
}

.button.btn-schedule {
    @include border-radius(100px);

    border: 2px solid $color-secondary;
    box-shadow: none;
    background: none;
    padding: 7px 15px;
    position: absolute;
    width: 190px;
    left: 50%;
    margin-left: -95px;
    height: initial;
    text-transform: initial;

    label {
        @extend .font-regular;

        color: $color-secondary;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.closed label {
      width: 50%;
    }

    .icon-opened {
      @include border-radius(50%);

      width: 12px;
      height: 12px;
      border: 2px solid $color-secondary;
      background: $color-success;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
}

@keyframes show-up-off {
    0% { bottom: -75px; }
    100% { bottom: 0; }
}

.schedule-off {
    @extend .font-bold;

    font-size: 14px;
    background: $color-secondary;
    border-radius: 0;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 90px;
    animation: show-up-off 0.3s ease-out 1s 1 normal;
    animation-fill-mode: both;
    height: 65px;


    &__label {
        width: 50%;
        left: 25px;
        white-space: initial;
        text-align: left;
        line-height: 1.3em;
        text-transform: initial;
        top: 50%;
        margin-top: -20px;
        position: absolute;
    }

    &__hours {
        @include border-radius(10px);
        @extend .font-bold !optional;

        color: white;
        position: absolute;
        width: 100px;
        border: 2px solid white;
        font-size: 12px;
        right: 20px;
        padding: 10px;
        top: 14px;
        text-transform: none;
    }

}

.order-status-bar {
    @extend .font-regular;

    font-size: 12px;
    color: $color-background;
    background: $color-secondary;
    border-radius: 0;
    height: 37px;
    width: 100%;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 3;

    &.activated {
        background: $color-secondary;
    }

    .icon-loading {
        background-image: url(../assets/icon/icon-loading-light.svg);
        background-size: cover;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 0;
        animation: loading 1s linear 0s infinite normal;
        animation-fill-mode: both;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
    }

    .icon-check {
        background-image: url(../assets/icon/icon-check-min.svg);
        background-size: cover;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 0;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
    }

    &__label {
        width: 65%;
        line-height: 1.3em;
        text-transform: initial;

        &.active label {
            @extend .font-bold;
        }

        label {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__image {
        @include border-radius(100%);

        // border: 2px solid $color-background;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        display: inline-block;
        margin: 0 5px 0 0;
        overflow: hidden;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.icon-shipping {
    width: 21px;
    height: 14px;
    background-image: url(../assets/icon/icon-shipping.svg);
    display: inline-block;
    margin-right: 2px;
    background-size: cover;
    vertical-align: middle;
}

.btn-voucher {
      @include border-radius(50%);

      width: 33px;
      height: 33px;
      border: 2px dotted $color-secondary;
      background-color: $color-background;
      position: absolute;
      bottom: 10px;
      right: 20px;
      padding: 0;
      box-shadow: none;

    .icon-voucher {
      background: url(../assets/icon/icon-voucher.svg);
      width: 23.5px;
      height: 23.5px;
      display: inline-block;
      background-size: cover;
    }

    &.activated {
      border: 1.5px dashed $color-secondary;
      background-color: $color-background;
    }
}

.icon-dropdown {
  background: url(../assets/icon/icon-dropdown.svg);
  width: 10px;
  height: 6.4px;
  display: inline-block;
  background-size: cover;
  margin-left: 7px;
  vertical-align: middle;
}

.receipt {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    text-align: center;

    &__padding {
      padding: 30px 15px;
    }

    &__pricebox {
      @include border-radius(20px);

      background: $color-background;
      display: inline-block;
      vertical-align: middle;
      width: 60%;
      margin: 0 5%;
      border: 2px solid $color-secondary;
      text-align: center;
      font-size: 18px;
      transition: opacity 0.2s;
      position: relative;
      z-index: 2;
      padding: 10px 0;

      &.dragging {
        opacity: 0.2;
      }
    }

    &__pricebox__pack .receipt__amount {
      text-transform: uppercase;
    }

    &__amount {
      @extend .font-regular;

      color: $color-secondary;
      margin: 0 0 5px;
      font-size: 14px;
      text-transform: uppercase;
    }

    &__discount {
      @include border-radius(100%);
      @extend .font-bold;

      color: white;
      background: $color-primary;
      border: 2px solid $color-secondary;
      font-size: 12px;
      position: absolute;
      text-align: center;
      display: inline-block;
      width: 44px;
      height: 44px;
      padding: 7px 0;
      top: -20px;
      right: -20px;

      small {
          @extend .font-regular;

          display: block;
          font-size: 12px;
          margin-top: -2px;
      }

      &.animated {
        animation: pop-discount 0.8s ease 0.3s 1 normal;
        animation-fill-mode: both;
      }
    }

    &__price {
        @extend .font-bold;

        color: $color-secondary;
        font-size: 18px;

        small {
          @extend .font-regular;

          font-size: 11px;
          display: inline-block;
          vertical-align: middle;
        }
    }

    .shipping {
      border-top: 1px solid $color-secondary;
      width: 85%;
      margin: 10px 10px 0;
      padding: 5px 0 0;

      &.free {

        label {
            color: $color-primary;
            text-transform: uppercase;
        }

        .icon-shipping {
          background-image: url(../assets/icon/icon-shipping-free.svg);
        }
      }

      label {
          @extend .font-bold;

          font-size: 11px;
          color: $color-secondary;

          display: inline-block;
          vertical-align: middle;
      }

      &.switch-first {
          animation: dissolve-in 8s linear 1.5s infinite normal;
          animation-fill-mode: both;
          position: absolute;
          bottom: 10px;
          left: 0;
      }

      &.switch-second {
          animation: dissolve-out 8s linear 1.5s infinite reverse;
          animation-fill-mode: both;
      }
    }
}

.btn-primary {
    @include border-radius(0);
    @extend .font-bold;

    background: $color-primary;
    border-top: 2px solid $color-secondary;
    font-size: 24px;
    padding: 20px;
    height: auto;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    color: $color-background;

    &.button-md {
      font-weight: 900 !important;
    }
}

.btn-minus {
    background-image: url('../assets/icon/minus.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    transition: opacity 0.2s;
    position: absolute;
    bottom: 24px;
    right: 170px;
    z-index: 3;

    &.dragging {
      opacity: 0;
    }
}

.btn-plus {
    background-image: url('../assets/icon/plus.svg');
    background-size: cover;
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    transition: opacity 0.2s;
    z-index: 3;

    &.dragging {
      opacity: 0.2;
    }
}

.message {
    @include border-radius(0);

    background: $color-secondary;
    padding: 20px 15px;
    height: auto;
    width: 100%;
    text-align: center;
    border-top: 2px solid $color-background;

    &__text {
        @extend .font-regular;

        font-size: 12px;
        color: $color-background;
    }

    &.button-md {
      font-weight: 900 !important;
    }
}

.other-products {
    padding: 0;
    margin: 0 0 60px 0;
    font-size: 0;
    text-align: left;

    &__item {
        @include border-radius(20px);

        position: relative;
        width: 47%;
        height: 150px;
        margin: 0 5% 5% 0;
        display: inline-block;
        background: $color-secondary-light;

        &:nth-child(even) {
            margin-right: 0;
        }

        .btn-plus {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }

        .btn-minus {
            bottom: 20px;
            left: 20px;
        }

        &.suggest {
            width: 100%;
            text-align: center;
            background-image: url(../assets/imgs/other-products.png);
            background-size: cover;

            .btn-minus, .btn-plus {
                display: none;
            }

            .other-products__info {
                font-size: 18px;
                margin: 33px 0;
                text-align: center;
                width: 100%;
                right: 0;
            }
        }
    }

    &__info {
        position: absolute;
        top: 20px;
        right: 20px;
        text-align: right;
    }

    &__name {
        @extend .font-bold;

        font-size: 16px;
        color: $color-secondary;
        text-transform: uppercase;
    }

    &__price {
        @extend .font-regular;

        font-size: 12px;
        color: $color-secondary;
        display: block;
        margin-top: 5px;

        strong {
            @extend .font-regular;

            font-size: 16px;
            vertical-align: middle;
        }
    }
}

.btn-add {
    @include border-radius(100px);
    @extend .font-bold;

    position: absolute;
    bottom: 20px;
    right: 20px;
    background: $color-success;
    border: 2px solid $color-secondary;
    color: $color-secondary;
    font-size: 13px;
    padding: 10px 15px;
    height: auto;
    width: initial;
    margin: 0;
    text-transform: uppercase;
    z-index: 3;
    transition: opacity 0.2s;

    &.dragging {
        opacity: 0.2;
    }

    label {
        vertical-align: middle;
    }

    &.button-md {
      font-weight: 900 !important;
    }
}

.btn-next {
    @include border-radius(10px);
    @extend .font-bold;

    text-transform: uppercase;
    font-size: 18px;
    background: none;
    color: white;
    padding: 0px 15px;
    // border: 2px solid $color-secondary;
}

@keyframes baldinho-animate {
    0% { bottom: -77px }
    100% { bottom: 0 }
}

@keyframes baldinho-text-animate {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.baldinho {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: $color-primary;
    border: solid $color-secondary;
    border-width: 2px 2px 0;
    position: relative;
    animation: baldinho-animate 0.2s ease-out 0.3s 1 normal;
    animation-fill-mode: both;
    margin: 0 2%;
    padding: 10px 12px;

    .btn-next {
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: $color-background;
    }

    .icon-baldinho {
        background-image: url(../assets/icon/icon-baldinho.svg);
        background-size: cover;
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
    }

    &__box {
        @include border-radius(100px);
        position: relative;

        background: #B83030;
        display: inline-block;
        padding: 3.5px 20px 3.5px 45px;

        .icon-baldinho {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__title {
        @extend .font-bold;
        
        color:  $color-background;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__itens {
        @extend .font-regular;

        color:  $color-background;
        font-size: 12px;
        animation: baldinho-text-animate 0.1s ease-out 0.4s 1 normal;
        animation-fill-mode: both;
    }

    &__value{
        @extend .font-bold;
        
        color: $color-background;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        animation: baldinho-text-animate 0.1s ease-out 0.4s 1 normal;
        animation-fill-mode: both;
        margin-top: -2px;
    }
}

.icon-arrow-next {
    background-image: url(../assets/icon/icon-arrow-next.svg);
    background-size: cover;
    width: 10px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}