<ion-header (click)="showTip=false" class="header-home">
  <ion-title>
    <button class="btn-schedule" ion-button secondary *ngIf="products && products.length > 0 && !location.zone.open" (click)="openSchedule()">
      <span class="icon-opened"></span>
      <label>Entrega em 25min</label>
      <span class="icon-dropdown"></span>
    </button>
    <button class="btn-schedule closed" ion-button secondary (click)="openSchedule()" *ngIf="products.length >0 && location.zone.open">
      <label>Ver Horários</label>
      <span class="icon-dropdown"></span>
    </button>
  </ion-title>
  <button class="btn-login" (click)="openProfile()"></button>
  <button class="btn-user" (click)="openProfile()"></button>
  <button class="btn-voucher" ion-button secondary *ngIf="products.length >0" (click)="openModalVoucher()">
    <span class="icon-voucher"></span>
  </button>
</ion-header>

<ion-content class="background-light center" [ngClass]="closed ? 'closed': '' " (click)="showTip=false">
  <button ion-button secondary (click)="openStatus()" class="order-status-bar" *ngIf="loadedcompleted && this.openSale && !err">

    <span class="order-status-bar__label" *ngIf="!actions.review && !actions.accepted && !actions.finishedAt && !actions.onWay">
      <span class="icon-loading"></span>
      <label>Aguardando confirmação</label>
    </span>

    <span class="order-status-bar__label active" *ngIf="!actions.review && !actions.onWay && actions.accepted">
      <span class="icon-check"></span>
      <label>Pedido confirmado</label>
    </span>

    <span class="order-status-bar__label delivery active" *ngIf="!actions.review && actions.onWay && !actions.finishedAt">
      <figure class="order-status-bar__image">
        <img src="https://cerveja.me/img/mobile/driver/{{actions.onWay.photo}}" alt="">
      </figure>
      <label> {{actions.onWay.name}} saiu para entrega</label>
    </span>

    <span class="order-status-bar__label active" *ngIf="actions.review">
      <span class="icon-check"></span>
      <label>Pedido entregue - Avalie</label>
    </span>
  </button>

  <ion-slides [initialSlide]="0" [centeredSlides]="true" [loop]="false" [slidesPerView]=1.15 [spaceBetween]=3 pager class="choose-slider"
    (ionSlideDidChange)="slideChanged()" [ngClass]="!taped ? 'on-slide': '' " (ionSlideDrag)="onTaped()" hideWhen="!(products.length >0 && !err)">
    <ion-slide class="product" *ngFor="let prod of products;let i = index">
     
      <div *ngIf="prod && prod.cold">
        <p class="product__bottom">
         
          <figure class="product__picture">
            <img src="https://cerveja.me/img/mobile/{{prod.img}}" alt="">
          </figure>
        </p>
      </div>
      <div *ngIf="!prod.cold">

        <p class="product__bottom">
          <span class="product__labels">
            <span class="product__natura" *ngIf="!prod.cold">
              <span class="icon-termo"></span>Natural</span>
            <span class="product__size">{{prod.name}}</span>
          </span>
          <figure class="product__picture">
            <img src="https://cerveja.me/img/mobile/{{prod.img}}" alt="">
          </figure>
        </p>
      </div>

      <div class="table" [ngClass]="loadedcompleted && (err==='USER_DENIED_GEOLOCATION' || err==='NO_ZONE_AVAILABLE' || err=='GEOLOCATION_TIMEOUT') ? 'table-bottom': ''"></div>

      <div class="product__info">
        <span class="product__labels">
          <span class="product__cold" *ngIf="prod.cold">
            <span class="icon-cold"></span></span>
        </span>
        <span class="product__amount">Caixa com {{prod.amount}}</span>
        <span class="product__price">R$
          <strong>{{prod.price | number:'1.0-0'}}</strong>
          <small>,{{ (prod.price | number:'0.2-2').split(',')[1] }} </small>
        </span>
        <span class="product__price-each">{{prod.volume}}ml • R$ {{prod.price/prod.amount | number:'1.2-2'}}</span>
      
        <!-- <span class="free-shipping__text">Entrega Grátis!</span>
        <span class="with-discount__text">5% OFF</span> -->

      </div>

      <button ion-button secondary class="btn-add disabled" (click)="addToIceBox(prod,i)">
        <label>Adicionar </label>
        <span class="icon-plus"></span>
      </button>

      <button class="btn-minus" (click)="removeFromIceBox(prod,i)" [ngClass]="changingSlide || !prod.items ? 'dragging': '' "></button>
    </ion-slide>
  </ion-slides>


  <h2>Outros Produtos</h2>

  <ul padding class="other-products">
    <!-- <li class="other-products__item">
      <div class="other-products__info">
        <span class="other-products__name">Carvão</span>
        <span class="other-products__price">R$
          <strong>50</strong>,00</span>
      </div>
      <button class="btn-plus"></button>
      <button class="btn-minus"></button>
    </li>
    <li class="other-products__item">
      <div class="other-products__info">
        <span class="other-products__name">Cigarro</span>
        <span class="other-products__price">R$
          <strong>10</strong>,00</span>
      </div>
      <button class="btn-plus"></button>
      <!-- <button class="btn-minus"></button> -->
    <!-- </li>
    <li class="other-products__item">
      <div class="other-products__info">
        <span class="other-products__name">Gelo</span>
        <span class="other-products__price">R$
          <strong>12</strong>,00</span>
      </div>
      <button class="btn-plus"></button> -->
      <!-- <button class="btn-minus"></button> 
    </li> -->
    <li class="other-products__item suggest">
      <div class="other-products__info">
        <span class="other-products__name">Quer outra coisa?</span>
        <span class="other-products__price">Conte pra gente o que gostaria de ver aqui</span>
      </div>
      <button class="btn-plus"></button>
      <button class="btn-minus"></button>
    </li>
  </ul>

</ion-content>

<ion-footer *ngIf="(iceBox && iceBox.length) || (voucher && voucher.value)" align-title="left" (click)="showTip=false">
  <div class="baldinho">
    <span class="baldinho__box">
      <span class="icon-baldinho"></span> 
        <span class="baldinho__itens">{{iceBoxTotal}} ite{{iceBoxTotal>1?'ns':'m'}}</span>
        <span class="baldinho__value">
          <strong *ngIf="iceBoxPrice">R$ {{iceBoxPrice - (voucher?voucher.value:0) | number:'1.2-2'}}</strong>
          <br>
          <strong *ngIf="voucher && voucher.value">{{voucher.code}} R$ {{voucher.value | number:'1.2-2'}}</strong>
        </span>
    </span>
    <button ion-button class="btn-next" (click)="confirmSale()">ENTREGAR <span class="icon-arrow-next"></span></button>
  </div>
</ion-footer>

<!-- <ion-footer>
  <div class="message" *ngIf="products.length >0 && !location.zone.open">
    <label class="message__text">Não estamos entregando agora.</label>
  </div>
</ion-footer> -->