page-home {

  .btn-primary {
    border-color: white;
  }

  ion-scroll[scrollX] {
  white-space: nowrap;
  .scroll-item {
    display: inline-block;
  }
}
    @keyframes pop-discount {
      0% { transform: scale(0) }
      20% { transform: scale(1.4)}
      50% { transform: scale(1) }
      70% { transform: scale(1.1) }
      100% { transform: scale(1) }
    }

    @keyframes loading {
        0% { transform: rotate(0deg)}
        100% { transform: rotate(359deg)}
    }

    @keyframes dissolve-in {
        0% { opacity: 1}
        30% { opacity: 1}
        35% { opacity: 0}
        65% { opacity: 0}
        70% { opacity: 1}
        100% { opacity: 1}
    }

    @keyframes dissolve-out {
        0% { opacity: 0}
        30% { opacity: 0}
        35% { opacity: 1}
        65% { opacity: 1}
        70% { opacity: 0}
        100% { opacity: 0}
    }

    ion-backdrop {
        background: $color-secondary;
        opacity: 0.8 !important;
    }

    .bkg-choose {
        background-image: url(../assets/imgs/bkg-choose.jpg);
        background-size: cover;
        background-position: center;

        &.closed {

        }
    }

    .table {
        background-image: url(../assets/imgs/table.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 160%;
        bottom: 66px;

        &.table-bottom {
          bottom: 0;
        }
    }

    .product {

        &__labels {
            position: absolute;
            z-index: 4;
            opacity: 0;
            transition: all 0.3s;
            text-align: left;
            top: 60%;
            right: -26%;
            margin-top: -30%;
        }

        &__cold {
            @extend .font-regular;
            @include border-radius(10px 10px 10px 0px);

            background: #80BFFF;
            color: white;
            text-align: center;
            display: block;
            padding: 6px 11px;
            font-size: 11px;
            text-transform: uppercase;
        }

        &__size {
            @extend .font-regular !optional;
            @include border-radius(0 10px 10px 10px);

            background: $color-secondary;
            color: white;
            text-align: center;
            display: block;
            padding: 6px 11px;
            font-size: 11px;
            display: inline-block;
        }

        &__natura {
            @extend .font-regular;
            @include border-radius(10px 10px 10px 0px);

            background: $color-background;
            color: #573317;
            text-align: center;
            display: block;
            padding: 4px 11px;
            font-size: 11px;
            text-transform: uppercase;
        }

        &__picture {
            height: 45%;
            width: 200%;
            z-index: 2;
            left: -50%;
            display: block;
            position: absolute;
            bottom: 18%;
            margin: 0;
            z-index: 2;
            transform: scale(0.8);
            transition: bottom 0.3s, transform 0.3s;
            -webkit-filter: blur(0.6px) brightness(0.8); filter: blur(0.6px) brightness(0.8);

            img-loader {
                background-position: center;
            }
        }

        &__bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }

}

.choose-slider {
    height: 100%;
    position: absolute;
    bottom: 160px;
    margin-left: 0;

    &.slider-empty {
      bottom: 0;
    }

    &.on-slide {
        .swiper-slide.swiper-slide-active {
            margin-left: 25%;
        }
    }

    .swiper-pagination {
      top: 170px;

      @media screen and (max-height: 500px) {
          display: none;
      }

      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        opacity: 1;
        background: $color-secondary;

        &-active {
          width: 9px;
          height: 9px;
          background: $color-background;
          border: 2px solid $color-secondary;
        }
      }
    }
}

.btn-choose {
    @include border-radius(50px);
    @extend .font-bold !optional;

    position: absolute;
    bottom: 0;
    background: $color-primary;
    border: 2px solid white;
    font-size: 24px;
    padding: 10px 30px;
    height: auto;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    opacity: 0;
    transition: all .5s;
    box-shadow: none;

    &.activated {
        background: #573317;
    }
}

.swiper-slide-active {
    margin-left: auto;
    z-index: 3;

    .product__labels {
        opacity: 1;
    }

    .product__picture {
        transform: scale(1);
        bottom: 14%;
        -webkit-filter: contrast(100%); filter: contrast(100%);
        -webkit-filter: blur(0); filter: blur(0);
    }
}



.icon-cold {
    background-image: url(../assets/icon/cold.svg);
    background-size: cover;
    width: 17px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    margin-bottom: 1px;
}

.icon-termo {
    background-image: url(../assets/icon/icon-termo.svg);
    background-size: cover;
    width: 11px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    margin-bottom: 1px;
}

.btn-white {
    @include border-radius(50px);
    @extend .font-bold !optional;

    background: $color-secondary-light;
    border: 2px solid white;
    font-size: 17px;
    padding: 15px 30px;
    height: auto;
    width: 100%;
    transition: all .5s;
    color: $color-secondary;
    text-transform: uppercase;
    margin: 15px auto 0;
}

.msg-empty {
    @extend .font-regular !optional;

    top: 3%;
    color: white;
    position: absolute;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 0 30px;
    z-index:4;
    background: $color-secondary;
    margin: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: -10px;
    padding: 20px;
//
//    &.location-error {
//        background: $color-secondary-light;
//    }
//
//    &.location-error &__title {
//        color: white;
//    }

    &__title {
        @extend .font-bold !optional;

        font-size: 25px;
        color: $color-secondary-light;
        margin: 0 0 10px 0;
        display: block;
    }

    strong {
        @extend .font-bold !optional;

        display: inline-block;
        padding: 5px 0;
        a{
            color:white;
            text-decoration:underline;
        }
    }
}

.btn-login {
  background: url(../assets/icon/icon-user.svg) no-repeat;
  width: 33px;
  height: 33px;
  border: none;
  box-shadow: none;
  position: absolute;
  bottom: 15px;
  left: 20px;
  box-shadow: none;
}

.btn-user {
  @include border-radius(100%);

  border: 2px solid $color-secondary;
  width: 33px;
  height: 33px;
  border: none;
  box-shadow: none;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background: none;
}

.header {

  &.header-ios .btn-schedule {
    bottom: 3px;
  }

  &.header-md .btn-schedule {
    bottom: 12px;
  }
}

.button.btn-schedule {
    box-shadow: none;
    text-transform: uppercase;
    background: none;
    padding: 0;
    position: absolute;
    width: 230px;
    left: 50%;
    margin-left: -115px;

    label {
        @extend .font-regular;

        color: $color-secondary;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        width: 64%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.closed label {
      width: 50%;
    }

    .icon-opened {
      @include border-radius(50%);

      width: 12px;
      height: 12px;
      border: 2px solid $color-secondary;
      background: $color-success;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
}

@keyframes show-up-off {
    0% { bottom: -75px; }
    100% { bottom: 0; }
}

.schedule-off {
    @extend .font-bold;

    font-size: 14px;
    background: $color-secondary;
    border-radius: 0;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 90px;
    animation: show-up-off 0.3s ease-out 1s 1 normal;
    animation-fill-mode: both;
    height: 65px;


    &__label {
        width: 50%;
        left: 25px;
        white-space: initial;
        text-align: left;
        line-height: 1.3em;
        text-transform: initial;
        top: 50%;
        margin-top: -20px;
        position: absolute;
    }

    &__hours {
        @include border-radius(10px);
        @extend .font-bold !optional;

        color: white;
        position: absolute;
        width: 100px;
        border: 2px solid white;
        font-size: 12px;
        right: 20px;
        padding: 10px;
        top: 14px;
        text-transform: none;
    }

}

.order-status-bar {
    @extend .font-regular;

    font-size: 12px;
    color: $color-background;
    background: $color-secondary;
    border-radius: 0;
    height: 37px;
    width: 100%;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 3;

    .icon-loading {
        background-image: url(../assets/icon/icon-loading-light.svg);
        background-size: cover;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 0;
        animation: loading 1s linear 0s infinite normal;
        animation-fill-mode: both;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
    }

    .icon-check {
        background-image: url(../assets/icon/icon-check-min.svg);
        background-size: cover;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 0;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
    }

    &__label {
        width: 65%;
        line-height: 1.3em;
        text-transform: initial;

        &.active label {
            @extend .font-bold;
        }

        label {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__image {
        @include border-radius(100%);

        // border: 2px solid $color-background;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        display: inline-block;
        margin: 0 5px 0 0;
        overflow: hidden;

        img {
            height: 100%;
            width: auto;
        }
    }

    &:after {
        content: '';
        width: 22px;
        height: 22px;
        background-image: url(../assets/icon/icon-up-brown.svg);
        display: block;
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -11px;
        transform: rotate(180deg);
    }
}

.icon-shipping {
    width: 21px;
    height: 14px;
    background-image: url(../assets/icon/icon-shipping.svg);
    display: inline-block;
    margin-right: 2px;
    background-size: cover;
    vertical-align: middle;
}

.btn-voucher {
      @include border-radius(50%);

      width: 36px;
      height: 36px;
      border: 1.5px dashed $color-secondary;
      background-color: $color-background;
      position: absolute;
      bottom: 10px;
      right: 20px;
      padding: 0;
      box-shadow: none;

    .icon-voucher {
      background: url(../assets/icon/icon-voucher.svg);
      width: 23.5px;
      height: 23.5px;
      display: inline-block;
      background-size: cover;
    }

    &.activated {
      border: 1.5px dashed $color-secondary;
      background-color: $color-background;
    }
}

.icon-dropdown {
  background: url(../assets/icon/icon-dropdown.svg);
  width: 10px;
  height: 6.4px;
  display: inline-block;
  background-size: cover;
  margin-left: 7px;
  vertical-align: middle;
}

.receipt {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    text-align: center;

    &__padding {
      padding: 30px 15px;
    }

    &__pricebox {
      @include border-radius(20px);

      background: $color-background;
      display: inline-block;
      vertical-align: middle;
      width: 60%;
      margin: 0 5%;
      border: 2px solid $color-secondary;
      text-align: center;
      font-size: 18px;
      transition: opacity 0.2s;
      position: relative;
      z-index: 2;
      padding: 10px 0;

      &.dragging {
        opacity: 0.2;
      }
    }

    &__pricebox__pack .receipt__amount {
      text-transform: uppercase;
    }

    &__amount {
      @extend .font-regular;

      color: $color-secondary;
      margin: 0 0 5px;
      font-size: 14px;
      text-transform: uppercase;
    }

    &__discount {
      @include border-radius(100%);
      @extend .font-bold;

      color: white;
      background: $color-primary;
      border: 2px solid $color-secondary;
      font-size: 12px;
      position: absolute;
      text-align: center;
      display: inline-block;
      width: 44px;
      height: 44px;
      padding: 7px 0;
      top: -20px;
      right: -20px;

      small {
          @extend .font-regular;

          display: block;
          font-size: 12px;
          margin-top: -2px;
      }

      &.animated {
        animation: pop-discount 0.8s ease 0.3s 1 normal;
        animation-fill-mode: both;
      }
    }

    &__price {
        @extend .font-bold;

        color: $color-secondary;
        font-size: 18px;

        small {
          @extend .font-regular;

          font-size: 11px;
          display: inline-block;
          vertical-align: middle;
        }
    }

    .shipping {
      border-top: 1px solid $color-secondary;
      width: 85%;
      margin: 10px 10px 0;
      padding: 5px 0 0;

      &.free {

        label {
            color: $color-primary;
            text-transform: uppercase;
        }

        .icon-shipping {
          background-image: url(../assets/icon/icon-shipping-free.svg);
        }
      }

      label {
          @extend .font-bold;

          font-size: 11px;
          color: $color-secondary;

          display: inline-block;
          vertical-align: middle;
      }

      &.switch-first {
          animation: dissolve-in 8s linear 1.5s infinite normal;
          animation-fill-mode: both;
          position: absolute;
          bottom: 10px;
          left: 0;
      }

      &.switch-second {
          animation: dissolve-out 8s linear 1.5s infinite reverse;
          animation-fill-mode: both;
      }
    }

    .btn-minus {
        background-image: url('../assets/icon/minus.svg');
        background-size: cover;
        width: 36px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        transition: opacity 0.2s;

        &.dragging {
          opacity: 0.2;
        }
    }

    .btn-plus {
        background-image: url('../assets/icon/plus.svg');
        background-size: cover;
        width: 36px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        transition: opacity 0.2s;

        &.dragging {
          opacity: 0.2;
        }
    }
}

.btn-primary {
    @include border-radius(0);
    @extend .font-bold;

    background: $color-primary;
    border-top: 2px solid $color-secondary;
    font-size: 24px;
    padding: 20px;
    height: auto;
    width: 100%;
    margin: 0;
    text-transform: uppercase;

    &.button-md {
      font-weight: 900 !important;
    }
}

.message {
    @include border-radius(0);

    background: $color-secondary;
    border-top: 2px solid white;
    padding: 24px 15px;
    height: auto;
    width: 100%;
    margin: 0;
    text-align: center;

    &__text {
        @extend .font-regular;

        font-size: 12px;
        color: white;
    }

    &.button-md {
      font-weight: 900 !important;
    }
}
