<ion-header class="header-dark">
  <ion-navbar>
    <h1 class="logo-white"></h1>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>

  <div class="map__address" *ngIf="address">
    <ion-input #inputaddress class="map__address__input" [(ngModel)]="fulladdress" (click)="fulladdress=''; texting=true;editingAddress=true"
      (ngModelChange)="addressChange()" (ionBlur)="closeEdit(); texting=false" (click)="registerChanges('address')">
    </ion-input>

    <input class="map__address__number" placeholder="nº" [(ngModel)]="number" type="tel" (click)="number='';texting=true;" (ionBlur)="texting=false"
      *ngIf="!editingAddress" (click)="registerChanges('number')">

    <span class="tip__balloon tip-down" *ngIf="!texting && !number">Não esqueça o número</span>
    <span class="map__address__icon icon-pin-min"></span>

    <ul class="address__autocomplete" *ngIf="addressOptions && addressOptions.length  ">
      <li class="map__address__autocomplete__item" *ngFor="let ad of addressOptions | slice:0:5;" (click)="setAddress(ad)">
        <span class="icon-pin-autocomplete"></span> {{ad.formatted_address}}</li>
    </ul>

    <span class="map__address__plus icon-plus-b"></span>
    <input class="map__address__input" placeholder="Complemento" type="text" [(ngModel)]="complement" (click)="texting=true;registerChanges('complement')"
      (ionBlur)="texting=false">
  </div>

  <div #map id="map" (click)="closeEdit(); texting=false" [ngClass]="texting?'keyboardOpen':movingPin?'moving':''"></div>
</ion-content>

<ion-footer align-title="left" class="bar-assertive">
  <!-- <button ion-button secondary class="map__btn" [ngClass]="texting?'disabled':''" *ngIf="texting">ENTREGAR AQUI</button> -->
  <button ion-button secondary class="map__btn" (click)="finishOrder()">ENTREGAR AQUI</button>

</ion-footer>
