page-map {
    scroll-content {
        overflow-y: hidden;
    }


    #map {
        width: 100%;
        height: 100%;
    }
    #map:after {
        transition: all 0.1s;
        width: 59px;
        height: 66px;
        display: block;
        content: ' ';
        position: absolute;
        top: 50%; left: 50%;
        margin: -76px 0 0 -30.5px;
        background: url(../assets/icon/map-pin.svg);
        background-size: contain;
        pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
    }

    #map:before {
        width: 7px;
        height: 13px;
        display: block;
        content: ' ';
        position: absolute;
        top: 50%; left: 50%;
        margin: -12px 0 0 -4.5px;
        background: url(../assets/icon/icon-pin-after.svg);
        background-size: contain;
        pointer-events: none;
        z-index: 2;
    }

    #map.keyboardOpen:after,
    #map.keyboardOpen:before {
      display: none;
    }

    #map.moving:after {
      margin: -86px 0 0 -30.5px;
    }

    #map.moving:before {
      width: 12px;
      height: 13px;
      margin: -12px 0 0 -6px;
      background: url(../assets/icon/icon-pin-moving.svg);
    }

    .map {

        &__btn {
            @include border-radius(0);
            @extend .font-bold;

            background: $color-primary;
            border-top: 2px solid $color-secondary;
            font-size: 24px;
            padding: 20px;
            height: auto;
            width: 100%;
            margin: 0;
            text-transform: uppercase;

            &.disabled {
              opacity: 0.5;
            }
        }

        &__navigation {
            background: #ccc;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &__address {

            padding: 0 10px;
            width: 100%;
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 3;

            &__icon {
                position: absolute;
                left: 25px;
                top: 15px;
            }

            &__plus {
                position: absolute;
                left: 30px;
                BOTTOM: 21px;
            }

            &__number {
                @extend .font-bold;

                border-radius: 0;
                color: $color-secondary;
                position: absolute;
                right: 12px;
                top: 11px;
                height: 25px;
                background: white;
                padding: 15px;
                width: 100px;
                border-color: $color-secondary;
                box-shadow: -22px 0 20px 0 white;
                border-width: 0 0 0 1px;
                text-align: center;
            }

            &__input {
                @extend .font-regular;

                display: block;
                background: white;
                color: $color-secondary;
                border: 2px solid $color-secondary;
                width: 100%;
                padding: 15px 15px 15px 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .text-input {
                    margin: 0;
                }

                &:first-child {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &:last-child {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-top: none;
                    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
                }
            }

            &__autocomplete {
                @include border-radius(10px);

                background: white;
                position: absolute;
                top: 62px;
                width: 100%;
                left: 0;
                z-index: 5;
                margin: 0;
                padding: 0;
                list-style: none;


                &__item {
                    @extend .font-regular;

                    color: $color-secondary;
                    font-size: 14px;
                    padding: 15px 15px 15px 50px;
                    border: solid $color-secondary;
                    border-width: 0 2px 1px;
                    margin: 0;
                    background: #D5A86C;
                    position: relative;

                    &:last-child {
                        border-width: 0 2px 2px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);
                    }
                }
            }
        }
    }
}

.icon-map {
    background-image: url(../assets/icon/map-pin.svg);
    background-size: cover;
    width: 24px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    &.texting {
      visibility: hidden;
    }
    &.moving {
      width: 70px;
    }
}

.icon-plus-b {
    background-image: url(../assets/icon/icon-plus-b.svg);
    background-size: cover;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.address__autocomplete {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;

    padding: 0 10px;
    list-style: none;
    z-index: 999;
    position: absolute;
    left: 0;
    margin: 0 0 0;
    width: 100%;

    &__item {
        @extend .font-regular;

        color: $color-secondary;
        font-size: 14px;
        padding: 15px 15px 15px 45px;
        border-bottom: 1px solid $color-secondary;
        margin: 0;
        text-align: left;
        position: relative;

        &:last-of-type {
            border-bottom: none;
        }
    }
}

.address {

    &__box {
        padding: 0 10px;
        width: 100%;
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 2;
        opacity: 1;
        transition: all 0.3s;

        &.hidden{
            display: none;
            opacity: 0;
        }
    }

    &__icon {
        position: absolute;
        left: 25px;
        top: 15px;
        z-index: 999;
    }

    &__input {
        @extend .font-regular;
        @include border-radius(10px);

        box-shadow: none;
        display: block;
        background: white;
        color: $color-secondary;
        border: 2px solid $color-secondary;
        width: 100%;
        padding: 15px 0 15px 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        input {
            margin: 0;
        }
    }
}

.icon-shipping-white {
  background-image: url(../assets/icon/icon-shipping-white.svg);
  background-size: cover;
  width: 29px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.icon-pin-min {
  background-image: url(../assets/icon/icon-pin-min.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.icon-location {
  background-image: url(../assets/icon/icon-location.svg);
  background-size: cover;
  width: 38px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 20px;
}

.icon-pin-autocomplete {
  background-image: url(../assets/icon/icon-pin-autocomplete.svg);
  background-size: cover;
  width: 24px;
  height: 26.7px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 13px;
}
