<ion-header class="header-light">
  <ion-navbar></ion-navbar>
  <h1 class="logo-dark"></h1>
  <button class="btn-voucher" ion-button secondary (click)="openModalVoucher()">
    <span class="icon-voucher"></span>
  </button>
</ion-header>

<ion-content class="background-light">
  <div *ngIf="sale">
    <div class="order" *ngFor="let item of sale.icebox">
      <figure class="order__image">
        <img src="http://cerveja.me/img/mobile/{{item.img}}" alt="">
      </figure>
      <span class="order__price">
        <label class="order__label">{{item.items}} Caixa{{item.items>1?'s':''}} de {{item.name}}</label>
        R$ {{item.items * item.price}}
      </span>
    </div>
  </div>

  <div class="payment">
    <button class="payment__option" [ngClass]="payment==2?'active':''" (click)="setPayment(2)">
      <span class="icon-maquina"></span>
      <label class="payment__option__label">Máquina</label>
      <!-- <span class="payment__add-beercoin">
          <span class="icon-beercoin-min"></span>
          <label>+ 50</label>
        </span> -->
    </button>
    <button class="payment__option" [ngClass]="payment==1?'active':''" (click)="setPayment(1)">
      <span class="icon-money"></span>
      <label class="payment__option__label">Dinheiro</label>
      <!-- <span class="payment__add-beercoin">
          <span class="icon-beercoin-min"></span>
          <label>+ 50</label>
        </span> -->
    </button>
    <!-- <button class="payment__option">
        <span class="icon-beercoin"></span>
        <label class="payment__option__label"><small>1500</small>Beercoins</label>
      </button> -->
    <button class="payment__option" [ngClass]="payment=='3'?'active':''" >
      <span class="icon-card"></span>
      <label class="payment__option__label">Via app</label>
    </button>
  </div>

  <div class="checkout__total" *ngIf="locale">
    <div [ngClass]="tru? 'checkout__total__shipping free' : 'checkout__total__shipping '">
      <span class="checkout__total__title" *ngIf="!locale.zone.free_shipping">Entrega</span>
      <span class="checkout__total__title" *ngIf="locale.zone.free_shipping">Entrega grátis</span>
      <span class="checkout__total__pricebox">
        <span class="checkout__total__price">R$ {{locale.zone.freight_value |number:'1.2-2'}}</span>
      </span>
    </div>
    <div class="checkout__total__shipping" *ngIf="voucher">
      <span class="checkout__total__title">Cupom ({{voucher.code}}) </span>
      <span class="checkout__total__pricebox">
        <span class="checkout__total__price">R$ -{{voucher.value |number:'1.2-2'}}</span>
      </span>
    </div>
    <div class="checkout__total__shipping" *ngIf="friend_ref && false">
      <span class="checkout__total__title">DA GALERA </span>
      <span class="checkout__total__pricebox">
        <span class="checkout__total__price">R$ -{{0 |number:'1.2-2'}}</span>
      </span>
    </div>

    <span class="checkout__total__title">Total a pagar</span>
    <span class="checkout__total__pricebox">
      <span class="checkout__total__price old" *ngIf="coupom && or.product.amount>=coupom.min_amount">R$ {{30 |number:'1.2-2'}}</span>
      <small class="checkout__total__pricebox--currency">R$</small>{{values.total | number:'1.2-2'}}
    </span>
  </div>

  <div class="receipt__address" *ngIf="locale">{{locale.street +', '+ locale.num +' '+ locale.complement}}
    <span class="icon-arrow-fw"></span>
    <span class="icon-pin-min receipt__address__icon" (click)="close()"></span>
  </div>

</ion-content>

<ion-footer>
  <button ion-button secondary class="btn-primary" (click)="finishOrder()">CONCLUIR PEDIDO</button>
</ion-footer>
