<ion-content padding class="background-modal-red align-center" [ngClass]="closed ? 'closed': '' " (click)="showTip=false">

  <div class="onboarding" center *ngIf="loadedcompleted && err==='PROVIDE_ADDRESS'">

    <h1 class="onboarding__title">Encontre a cerveja gelada mais próxima.</h1>

    <button class="onboarding__button" (click)="getBrowserLocation()">Usar localização</button>

    <label class="onboarding__label">Se preferir, use seu endereço ou referência</label>

    <div class="autocomplete-box">
      <ion-input class="input-autocomplete" #inputaddress [(ngModel)]="fulladdress" (ngModelChange)="addressChange()"
        (click)="fulladdress=''" (ionBlur)="closeAddressEdit(); texting=false"></ion-input>
      <div class="version">
        <p> {{v.appVersion}}</p>
        <p>{{v.commit}}</p>
      </div>

      <ul class="address__autocomplete" *ngIf="addressOptions && addressOptions.length  ">
        <li class="map__address__autocomplete__item address__autocomplete__item" *ngFor="let ad of addressOptions | slice:0:5;"
          (click)="setAddress(ad)">
          <span class="icon-pin-autocomplete"></span> {{ad.formatted_address}}</li>
      </ul>

    </div>

  </div>
  <!-- nao atendido -->

  <!-- <div class="msg-empty" *ngIf="loadedcompleted && err==='NO_ZONE_AVAILABLE'">

    <span class="msg-empty__title">Não atendemos essa região. Ainda.</span>



    <strong>
      Quer ser parceiro?
      <a href="https://cerveja.me/mini-franquia" target="_blank" (click)="openPartner()">Saiba Mais</a>
    </strong>


  </div> -->

  <div class="onboarding" *ngIf="loadedcompleted && err==='NO_ZONE_AVAILABLE'">

    <h1 class="onboarding__title">Não atendemos essa região. Ainda. </h1>

    <p class="onboarding__text">{{errorAddress}}</p>

    <!-- <button class="onboarding__button" (click)="tryAgain()">Tentar novamente</button> -->

    <label class="onboarding__label">Se o endereço não esta correto tente novamente usando o fomulario abaixo</label>

    <div class="autocomplete-box">
      <ion-input class="input-autocomplete" #inputaddress [(ngModel)]="fulladdress" (ngModelChange)="addressChange()"
        (click)="fulladdress=''" (ionBlur)="closeAddressEdit(); texting=false"></ion-input>

      <ul class="address__autocomplete" *ngIf="addressOptions && addressOptions.length  ">
        <li class="map__address__autocomplete__item address__autocomplete__item" *ngFor="let ad of addressOptions | slice:0:5;"
          (click)="setAddress(ad)">
          <span class="icon-pin-autocomplete"></span> {{ad.formatted_address}}</li>
      </ul>

    </div>

    <strong>
      Quer ser parceiro?
      <a href="https://cerveja.me/mini-franquia" target="_blank" (click)="openPartner()">Saiba Mais</a>
    </strong>
  </div>


  <div class="onboarding" *ngIf="loadedcompleted && err==='USER_DENIED_GEOLOCATION'">

    <h1 class="onboarding__title">Não te localizei :(</h1>

    <p class="onboarding__text">Ative o uso da localização nas configurações do seu aparelho.</p>

    <button class="onboarding__button" (click)="tryAgain()">Tentar novamente</button>

    <label class="onboarding__label">Se preferir, use seu endereço ou referência</label>

    <div class="autocomplete-box">
      <ion-input class="input-autocomplete" #inputaddress [(ngModel)]="fulladdress" (ngModelChange)="addressChange()"
        (click)="fulladdress=''" (ionBlur)="closeAddressEdit(); texting=false"></ion-input>

      <ul class="address__autocomplete" *ngIf="addressOptions && addressOptions.length  ">
        <li class="map__address__autocomplete__item address__autocomplete__item" *ngFor="let ad of addressOptions | slice:0:5;"
          (click)="setAddress(ad)">
          <span class="icon-pin-autocomplete"></span> {{ad.formatted_address}}</li>
      </ul>

    </div>
  </div>

  <!-- erro na localização automatica -->
  <div class="msg-empty" *ngIf="loadedcompleted && err==='GEOLOCATION_TIMEOUT'">

    <span class="msg-empty__title">Deu ruim!</span>

    Não conseguimos identificar sua localização automaticamente.
    <button class="onboarding__button" (click)="tryAgain()">Tentar novamente</button>

  </div>

  <div class="msg-empty" *ngIf="loadedcompleted && err==='NO_PRODUCTS'">

    <span class="msg-empty__title">Alta demanda!</span>

    Por causa da alta demanda, não estamos recebendo pedidos.

    <button class="onboarding__button" (click)="tryAgain()">Verificar novamente</button>

  </div>

  <div class="msg-empty" *ngIf="loadedcompleted && err==='NETWORK_ERROR'">

    <span class="msg-empty__title">Internet Offline.</span>

    Tivemos algum problema com a conexão.
    <button class="onboarding__button" (click)="tryAgain()">Tentar novamente</button>

  </div>

</ion-content>
<!-- <ion-footer>
<button ion-button secondary class="map__btn" [ngClass]="texting?'disabled':''" *ngIf="texting">ENTREGAR AQUI</button>

<button ion-button secondary class="map__btn" (click)="openFirstTime()">IDADE</button>


</ion-footer> -->
