<ion-content padding class="background-red" [ngClass]="closed ? 'closed': '' " (click)="showTip=false">

  <div class="choose-slider slider-empty" *ngIf="loadedcompleted && err==='PROVIDE_ADDRESS'">

    <h1 class="onboarding__title">Vou encontrar a cerveja gelada mais próxima</h1>

    <button class="onboarding__button" (click)="getBrowserLocation()">Usar localização</button>

      <!-- <button class="btn-white" (click)="tryAgain()">Tentar novamente</button> -->
    
    
      <ul class="address__autocomplete" *ngIf="addressOptions && addressOptions.length  ">
        <li class="map__address__autocomplete__item" *ngFor="let ad of addressOptions | slice:0:5;" (click)="setAddress(ad)">
          <span class="icon-pin-autocomplete"></span> {{ad.formatted_address}}</li>
      </ul>
    
  </div>
  <!-- nao atendido -->
  <div class="choose-slider slider-empty" *ngIf="loadedcompleted && err==='NO_ZONE_AVAILABLE'">
    <p class="msg-empty">

      <span class="msg-empty__title">Não atendemos sua região.</span>

      Quer levar para sua cidade?
      <br/> Saiba como:
      <strong>
        <a href="https://cerveja.me/mini-franquia" target="_blank">Cerveja.me</a>
      </strong>
    </p>
    <p class="choose__bottom">
      <figure class="choose__picture" style="bottom: 5%;">

        <img style="margin-top: 45%" src="assets/imgs/empty.png">
      </figure>
    </p>
  </div>

  <!-- erro na localização automatica -->
  <div class="choose-slider slider-empty" *ngIf="loadedcompleted && err==='GEOLOCATION_TIMEOUT'">
    <p class="msg-empty location-error">

      <span class="msg-empty__title">Oops!</span>

      Não conseguimos identificar sua localização automaticamente.
      <button class="btn-white" (click)="tryAgain()">Tentar novamente</button>

      <p class="choose__bottom">
        <figure class="choose__picture" style="bottom: 5%;">

          <img style="margin-top: 45%" src="assets/imgs/empty.png">
        </figure>
      </p>
  </div>

  <div class="choose-slider slider-empty" *ngIf="loadedcompleted && err==='NO_PRODUCTS'">
    <p class="msg-empty location-error">

      <span class="msg-empty__title">Alta demanda!</span>

      Por causa da alta demanda, não estamos recebendo pedidos por agora.
      <button class="btn-white" (click)="tryAgain()">Verificar novamente</button>

      <p class="choose__bottom">
        <figure class="choose__picture" style="bottom: 5%;">

          <img style="margin-top: 45%" src="assets/imgs/empty.png">
        </figure>
      </p>
  </div>
  <div class="choose-slider slider-empty" *ngIf="loadedcompleted && err==='USER_DENIED_GEOLOCATION'">
    <p class="msg-empty location-error">

      <span class="msg-empty__title">Onde você está?</span>

      Ative o uso da Localização nas configurações do seu aparelho.
      <button class="btn-white" (click)="tryAgain()">Já ativei</button>

      <p class="choose__bottom">
        <figure class="choose__picture" style="bottom: 5%;">

          <img style="margin-top: 45%" src="assets/imgs/empty.png">
        </figure>
      </p>
  </div>
  <div class="choose-slider slider-empty" *ngIf="loadedcompleted && err==='NETWORK_ERROR'">
    <p class="msg-empty location-error">

      <span class="msg-empty__title">Internet?</span>

      Tivemos algum problema com a conexão.
      <button class="btn-white" (click)="tryAgain()">Tentar novamente</button>

      <p class="choose__bottom">
        <figure class="choose__picture" style="bottom: 5%;">

          <img style="margin-top: 45%" src="assets/imgs/empty.png">
        </figure>
      </p>
  </div>


</ion-content>
<ion-footer padding class="background-light">
  <!-- <button ion-button secondary class="map__btn" [ngClass]="texting?'disabled':''" *ngIf="texting">ENTREGAR AQUI</button>
  <button ion-button secondary class="map__btn" (click)="openStatus()">Pedido Aberto</button> -->
  <label class="onboarding__label">Se preferir, use seu endereço ou referência</label>
  <ion-input class="input-autocomplete" #inputaddress [(ngModel)]="fulladdress" (ngModelChange)="addressChange()" (click)="fulladdress=''" (ionBlur)="closeAddressEdit(); texting=false"></ion-input>
</ion-footer>
