page-profile-referrals {
  h1 {
    font-size: 22px;
    color: #583318;
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center;
  }
  .credit {
    background: rgb(149, 245, 149)
  }
  .debit {
    background: rgb(228, 144, 144)
  }
}

